<div class="header-container">
  <!-- [routerLinkActiveOptions]="{exact:true}" -->
  <a class="mat-button" routerLink="/home" routerLinkActive="active">
    <span>Home</span>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a class="mat-button" routerLink="/about" routerLinkActive="active">
    <span>About</span>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a class="mat-button right-buttons" routerLink="/login">
    <span class="mat-button-wrapper">
      <img class="login-logo" alt="login" src="../../../assets/icons/login.png">
      Login
    </span>
    <div class="mat-button-focus-overlay"></div>
  </a>
</div>
